<!-- Title -->
<div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
  <h2 class="title md:leading-tight dark:text-white">Insights</h2>
  <p class="mt-1 text-gray-600 dark:text-gray-400">
    Stay in the know with insights from industry experts.
  </p>
</div>
<!-- End Title -->
